<div class="article-detail-container">
    <app-app-bar></app-app-bar>

    <button class="back-button" routerLink="/articles">
        <span class="material-icons">arrow_back</span>
    </button>

    <div class="article-content" *ngIf="article">
        <h1 class="article-title">{{ article.title }}</h1>
        <div class="article-meta">
            <span>Date : {{ article.date | date:'dd/MM/yyyy' }}</span>
            <span>Auteur : {{ article.articleAuthor }}</span>
            <span>Thème : {{ article.themeTitle }}</span>
        </div>
        <p class="article-body">{{ article.content }}</p>

        <hr />

        <div class="comments-section">
            <h2>Commentaires</h2>
            <div class="comment" *ngFor="let comment of comments">
                <div class="comment-avatar">
                    <div class="avatar-icon">{{ comment.ownerUsername[0] }}</div>
                </div>
                <div class="comment-content">
                    <span class="comment-username">{{ comment.ownerUsername }}</span>
                    <span class="comment-date"> le {{ comment.date | date:'dd/MM/yyyy' }} à {{ comment.date | date:'HH:mm' }}</span>
                    <p>{{ comment.content }}</p>
                </div>
            </div>

            <div class="add-comment">
                <textarea [(ngModel)]="newComment" placeholder="Ajouter un commentaire"></textarea>
                <button (click)="addComment()">
                    <img src="../../../assets/send-svgrepo-com.png" alt="Add Comment" />
                </button>
            </div>
        </div>
    </div>
</div>