# Fichiers de logs
*.log

# Dossiers de build
/target/
/build/
/dist/

# Fichiers temporaires
*.tmp
*.bak

# Dossiers et fichiers spécifiques aux environnements de développement
/.idea/
/.vscode/
*.iml
node_modules/

# Fichiers système spécifiques à Windows
Thumbs.db
Desktop.ini

/back/.env

