<div class="app-bar-container">
    <app-app-bar></app-app-bar>
</div>

<button class="back-button" routerLink="/articles">
    <span class="material-icons">arrow_back</span>
</button>

<div class="new-article-container">
    <h1>Créer un nouvel article</h1>
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" #articleForm="ngForm">
            <select class="input-field" name="themeId" [(ngModel)]="themeId" required>
                <option value="null" disabled selected>Sélectionner un thème</option>
                <option *ngFor="let theme of themes" [ngValue]=theme.id>
                    {{ theme.title }}
                </option>
            </select>

            <input class="input-field" type="text" placeholder="Titre de l'article" name="title" [(ngModel)]="title"
                required />

            <textarea class="textarea-field" placeholder="Contenu de l'article" name="content" [(ngModel)]="content"
                required></textarea>

            <button type="submit" class="submit-btn">
                Créer
            </button>
        </form>
    </div>
</div>