.new-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin-top: 6.5vw;
    padding-top: 10vw;
    @media (max-width: 768px) {
        margin-top: 5vw;
    }
}

.back-button {
    position: absolute;
    top: 120px;
    left: 50px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;

    span{
        font-size: 5vw;
    }

    @media (max-width: 1180px) {
        top: 100px;
        left: 30px;
    }

    @media (max-width: 768px) {
        top: 110px;
        left: 20px;
    }
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 2rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.input-field,
.textarea-field {
    width: 100%;
    border: 1px solid #6C5CCF;
    border-radius: 4px;
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    outline: none;
    box-sizing: border-box;
}

.input-field:focus,
.textarea-field:focus {
    border-color: #4a3cac;
    box-shadow: 0 0 4px rgba(108, 92, 207, 0.5);
}

.textarea-field {
    height: 150px;
    resize: none;
}

.submit-btn {
    background-color: #6C5CCF;
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    width: 10vw;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #4a3cac;
}

.form-container{
    text-align: center;
}

@media (max-width: 768px) {
    .new-article-container {
        padding: 1rem;
        margin-top: 12vw;
        padding-top: 15vw;
    }

    .form-container {
        width: 100%;
    }

    .submit-btn {
        width: 30vw;
    }
}

@media (max-width: 461px) {
    .new-article-container {
        margin-top: 15vw;
    }

    .back-btn {
        font-size: 1.25rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    .submit-btn {
        width: 30vw;
    }
}