<div class="themes-container">
    <app-app-bar></app-app-bar>

    <!-- Liste des thèmes -->
    <div class="themes-grid">
        <div class="theme-card" *ngFor="let theme of themes">
            <h3 class="theme-title">{{ theme.title }}</h3>
            <p class="theme-content">{{ theme.content }}...</p>
            <button *ngIf="isSubscribed(theme.id); else notSubscribed" class="subscribe-button" (click)="unsubscribe(theme.id)">
                Se désabonner
            </button>
            <ng-template #notSubscribed>
                <button class="subscribe-button" (click)="subscribe(theme.id)">
                    S'abonner
                </button>
            </ng-template>        
        </div>
    </div>
</div>
