.articles-container {
    font-family: 'Inter', sans-serif;
}

.actions {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    margin-top: 8.5vw;
    margin-bottom: 2rem;
    align-items: center;

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
        margin-top: 18vw;
        align-items: center;
    }
}

.create-article-button {
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #6C5CCF;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    @media (max-width: 768px) {
        width: 50vw;
    }
}

.create-article-button:hover {
    background-color: #5b4ab2; 
}

.sort-button {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    border: none;
    cursor: pointer;
}

.sort-button .material-icons {
    font-size: 1.5rem;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 4vw;
    width: 98%;
    margin: auto;
    padding-bottom: 5vh;
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}

.article-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.article-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
}

.article-meta {
    font-size: 0.9rem;
    width: 50%;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.article-content {
    font-size: 1rem;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-theme{
    text-align: right;
}
