.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-color: #ffffff;
    
    margin: 0;
    text-align: center;
    
}


.error-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}


.error-title {
    font-family: 'Inter', sans-serif;
    
    font-size: 8rem;
    
    font-weight: bold;
    
    color: #6C5CCF;
    
    margin: 0;
    margin-bottom: 3vw;
}


.error-subtitle {
    font-family: 'Inter', sans-serif;
    
    font-size: 1.5rem;
    
    font-weight: 400;
    
    color: #737373;
    
    margin: 0;
    margin-bottom: 1vw;
}


.error-button {
    font-family: 'Inter', sans-serif;
    
    font-size: 1rem;
    
    font-weight: 600;
    
    color: #ffffff;
    
    background-color: #6C5CCF;
    
    border: none;
    
    padding: 0.75rem 1.5rem;
    
    border-radius: 5px;
    
    cursor: pointer;
    
    transition: background-color 0.3s ease;
    
}

.error-button:hover {
    background-color: #5847b6;
    
}


@media (max-width: 768px) {
    .error-title {
        font-size: 6rem;
        
    }

    .error-subtitle {
        font-size: 1.25rem;
        
    }

    .error-button {
        font-size: 0.9rem;
        
    }
}

@media (max-width: 461px) {
    .error-title {
        font-size: 4rem;
        
    }

    .error-subtitle {
        font-size: 1rem;
        
    }

    .error-button {
        font-size: 0.8rem;
        
        padding: 0.5rem 1rem;
        
    }
}