.connexion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
}

.app-bar-desktop {
    display: block; 
    width: 100%;
}

.logo-mobile {
    display: none; 
    text-align: center;
    margin-bottom: 2rem;
}

.logo {
    width: 35vw; 
    cursor: pointer;
}

.connexion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 30vw;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
}

.form-input {
    padding: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.submit-button {
    width: 60%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    background-color: #7d5af5;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.submit-button:hover {
    background-color: #5d3cc4;
}

.back-button {
    position: absolute;
    top: 5vw;
    left: 3vw;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
}

.material-icons {
    font-size: 24px;
}

@media (max-width: 768px) {
    .app-bar-desktop {
        display: none; 
    }

    .logo-mobile {
        display: block;
    }

    .logo {
        width: 50vw; 
    }

    .registration-content {
        max-width: 60vw;
    }

    .back-button {
        top: 4vw;
        left: 4vw;

        width: 10vw;
    }
}
