<div class="connexion-container">
    <app-app-bar *ngIf="isTablet || (!isMobile && !isTablet)"></app-app-bar>

    <button class="back-button" routerLink="/">
        <img src="assets/ArrowLeft.png" alt="Back Icon" class="back-button"/>
    </button>

    <div *ngIf="isMobile" class="logo-mobile">
        <img class="logo" src="/assets/logo_p6.png" alt="MDD Logo" (click)="navigateToHome()"/>
    </div>

    <div class="connexion-content" (ngSubmit)="onSubmit()">
        <h2 class="title">Se connecter</h2>

        <form class="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="login" class="form-label">E-mail ou nom d'utilisateur</label>
                <input type="text" id="login" class="form-input" [(ngModel)]="identifier" name="identifier" required />
            </div>

            <div>
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" id="password" class="form-input" [(ngModel)]="password" name="password" required />
            </div>


            <button type="submit" class="submit-button">Se connecter</button>
        </form>
    </div>
</div>