.app-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6.5vw;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0 1.5rem;
    box-sizing: border-box;
}

.app-bar-content {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 6.5vw;
    width: auto;
    cursor: pointer;
}

.app-bar-tabs {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    gap: 3rem; 
    margin-left: auto; 
    margin-right: 1.5rem; 
}

.tab.active-tab {
    color: #6C5CCF; 
}

.tab {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #000000;
    transition: color 0.3s ease;
}

.tab:hover {
    color: #6C5CCF; 
}

.user-avatar {
    margin-left: auto;
}

.avatar-icon {
    width: 1.8vw; 
    color: #737373;
    z-index: 5;
    cursor: pointer;
    transition: color 0.3s ease;
}

.avatar-icon:hover {
    fill: #6C5CCF; 
    transition: fill 0.3s ease;
}

.avatar-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 50%; 
    width: 2.2vw;
    height: 2.2vw; 
    padding: 0.5vw; 
}

.avatar-background:hover {
    border: 4px solid #6C5CCF;
    .avatar-icon{
        fill: #6C5CCF;
    }
}

.avatar-background:hover:not(.active-account) {
    border: 4px solid #6C5CCF;
}

.avatar-background:not(.active-account) .avatar-icon:hover {
    fill: #6C5CCF; 
}

.avatar-background.active-account {
    border: 4px solid #6C5CCF; 
}

.avatar-background.active-account .avatar-icon {
    fill: #6C5CCF; 
}

.menu-button {
    display: none; 
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; 
}

.menu-button .material-icons {
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .menu-button {
        display: block; 
    }

    .app-bar-tabs {
        display: none; 
    }

    .app-bar-content {
        justify-content: space-between; 
    }
    .app-bar {
        height: 12vw;
    }
    
    .logo {
        height: 12vw;
        width: auto;
        cursor: pointer;
    }
}

@media (max-width: 461px) {
    .menu-button {
        display: block; 
    }

    .app-bar {
        height: 15vw;
    }
    
    .logo {
        height: 15vw;
        width: auto;
        cursor: pointer;
    }
}

mat-sidenav-container {
    position: relative; 
    z-index: 1; 
    overflow: hidden !important;
}

mat-sidenav {
    position: fixed;
    right: 0;
    width: 50vw; 
    background: #ffffff; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 12vw; 
    overflow: hidden !important; 
    z-index: 11;
    display: flex;
    flex-direction: row;
}

.mat-nav-list {
    display: flex;
    flex-direction: column;    
    overflow: hidden !important; 
    justify-content: flex-start; 
    padding: 0;
    margin: 0;
    justify-self: center;
}

mat-sidenav-content {
    overflow: visible; 
    position: relative;
    z-index: 1;
    pointer-events: none;
}

mat-sidenav-content.menu-open {
    pointer-events: auto; 
}

.mat-drawer-content{
    height: 0;
}

.sidenav-user-profile {
    position: absolute; 
    bottom: 1rem; 
    right: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav-user-profile .avatar-background {
    width: 4vw; 
    height: 4vw; 
    padding: 0.7vw; 
}

.sidenav-user-profile .avatar-icon {
    width: 3vw; 
    height: auto;
}

mat-sidenav-container::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); 
    z-index: 10;
    pointer-events: none; 
    transition: background 0.3s ease; 
}

mat-sidenav-container.backdrop-visible::after {
    background: rgba(239, 239, 239, 0.7);
    pointer-events: auto; 
}